<div class="login-page-container">
  <h2>Please specify your credentials to log in</h2>
  <form class="login-form" [formGroup]="loginForm" (submit)="login()">
    <div class="form-input">
      <label for="login">Your e-mail address</label>
      <input id="login" type="email" pInputText pSize="large" placeholder="example@example.com" formControlName="login" />
    </div>
    <div class="form-input">
      <label for="password">Your password</label>
      <input id="password" type="password" pInputText pSize="large" placeholder="Your password" formControlName="password" />
    </div>
    <p-button
      styleClass="login-button"
      type="submit"
      [disabled]="loginForm.invalid || isLoading"
      [loading]="isLoading">
      Log in
    </p-button>
  </form>
</div>
